<ion-view>
  <ion-nav-title>
    <div class="row">
      <img src="img/superportugal.jpg" width="30" height="30" alt="" />
      <h1 class="title">Super Portugal</h1>
    </div>
  </ion-nav-title>
  <ion-content>
    <div>
      <h3>duas coisas</h3>
      <h3>duas coisas</h3>
      <h3>duas coisas</h3>
      <h3>duas coisas</h3>
      <h3>duas coisas</h3>
      <h3>duas coisas</h3>
      <h3>duas coisas</h3>
      <h3>duas coisas</h3>
      <h3>duas coisas</h3>
      <h3>duas coisas</h3>
      <h3>duas coisas</h3>
      <h3>duas coisas</h3>
      <h3>duas coisas</h3>
      <h3>duas coisas</h3>
    </div>
  </ion-content>
</ion-view>
